.wrapper {
    background: #ffffff62;
    height: fit-content;
    height: fit-content;
    display: grid;
    grid-template-areas:
        "photo name capital"
        "photo widgets widgets"
        "info info info";
    grid-template-rows: 1fr 6fr 4fr;
    grid-template-columns: 5fr 1fr 2fr;
    grid-gap: 10px;
    padding: 10px 20px;

    @media (max-width: 1025px) {
        height: fit-content;
        grid-template-areas:
            "name capital"
            "photo photo"
            "widgets widgets"
            "info info ";
        grid-template-rows: 1fr 5fr 4fr 4fr;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 550px) {
        grid-template-rows: 1fr 3fr 4fr 8fr;
        grid-template-columns: 2fr 3fr;
        padding: 10px;
    }

    @media (max-width: 350px) {
        grid-template-rows: 1fr 3fr 5fr 12fr;
        grid-template-columns: 2fr 3fr;
        padding: 10px;
    }
}

.photo {
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.37);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    @media (max-width: 550px) {
        font-size: 20px;
        font-weight: 500;
    }
    @media (max-width: 350px) {
        font-size: 18px;
        font-weight: 500;
    }
}

.capital {
    grid-area: capital;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.37);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    @media (max-width: 550px) {
        font-size: 20px;
        font-weight: 500;
    }

    @media (max-width: 350px) {
        font-size: 18px;
        font-weight: 500;
    }
}

.widgets {
    grid-area: widgets;
    background-color: rgba(253, 253, 253, 0.37);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 5px;
}

.info {
    grid-area: info;
    font-size: 20px;
    padding: 10px;
    min-height: fit-content;
}
