.wrapper {
    // background-color: aqua;
    height: 80vh;
    display: grid;
    grid-template-areas: 
    "photo name"
    "photo capital"
    "photo widgets"
    "photo info";
    grid-template-rows: 1fr 1fr 3fr 5fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.photo{
    grid-area: photo;
    background-color: rgb(165, 255, 157);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    grid-area: name;
    background-color: rgb(255, 236, 131);
    padding: 10px;
}

.capital{
    grid-area: capital;
    background-color: rgb(231, 134, 255);
    padding: 10px;
}

.widgets{
    grid-area: widgets;
    background-color: rgb(132, 161, 255);
    padding: 10px;
}

.info{
    grid-area: info;
    background-color: rgb(255, 184, 126);
    padding: 10px;
}