.wrapper {
    background: #ffffff62;
    height: fit-content;
    display: grid;
    grid-template-areas:
        "photo name capital"
        "photo weather weather"
        "photo time currency"
        "photo time currency"
        "info info info";
    grid-template-rows: 1fr 1fr 1fr 1.5fr  2.5fr;
    grid-template-columns: 4fr 1fr 2fr;
    grid-gap: 10px;
    padding: 10px 20px;

    @media (max-width: 1025px) {
        grid-template-areas:
            "name capital"
            "photo photo"
            "weather weather"
            "time currency"
            "time currency"
            "info info ";
        grid-template-rows: 0.5fr 3fr 0.5fr 0.5fr 01fr 3fr;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 550px) {
        grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr 1fr 6fr;
        grid-template-columns: 2fr 3fr;
        padding: 10px;
    }

    @media (max-width: 350px) {
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr 8fr;
        grid-template-columns: 2fr 3fr;
        padding: 10px;
    }
}

.photo {
    grid-area: photo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name,
.capital,
.weather,
.time,
.currency {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.37);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 5px;
    @media (max-width: 550px) {
        font-size: 20px;
        font-weight: 500;
    }
    @media (max-width: 350px) {
        font-size: 18px;
        font-weight: 500;
    }
}

.name {
    grid-area: name;
}

.capital {
    grid-area: capital;
}

.weather {
    grid-area: weather;
    justify-content: space-around;
}

.time {
    grid-area: time;
    flex-direction: column;
    justify-content: space-between;
}

.currency {
    grid-area: currency;
    flex-direction: column;
    justify-content: space-between;
}


.info {
    grid-area: info;
    font-size: 20px;
    padding: 10px;
    min-height: fit-content;
}
