$footer_header_color: #212529;
$footer_header_text_color: #adb1b8;
$footer_header_text_color_hover: #e1e5eb;

.footer {
    display: grid;
    background-color: $footer_header_color;
    color: $footer_header_text_color;
    height: 6vh;
    @media (max-width: 770px) {
        height: 95px;
    }

    @media (max-width: 450px) {
        height: 110px;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: $footer_header_color;
    color: $footer_header_text_color;
    @media (max-width: 770px) {
        flex-direction: column;
        justify-content: space-around;
    }
}

.contactsContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    width: 50%;
    @media (max-width: 770px) {
        width: 100%;
    }

    @media (max-width: 450px) {
        flex-direction: column;
        width: 70%;
        justify-content: space-between;
    }

    @media (max-width: 340px) {
        flex-direction: column;
        width: 70%;
        justify-content: space-between;
    }
}

.contactsTitle {
    width: 100%;
    margin-right: 5px;
    color: $footer_header_text_color;

    &:hover {
        color: $footer_header_text_color_hover;
    }
}

.contactItem {
    display: flex;
    justify-content: center;
}

.link {
    display: flex !important;
    align-items: center;
    padding: 0 !important;
}

.icon {
    color: white;
    width: 25px;
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 770px) {
        width: 20px;
    }

    @media (max-width: 550px) {
        width: 15px;
    }
}

.logoYearContainer {
    display: flex;
    justify-content: space-between;
    width: 30%;
    @media (max-width: 770px) {
        width: 40%;
    }

    @media (max-width: 550px) {
        width: 70%;
    }
}

.logo {
    width: 80px;
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}

@media (max-height: 849px) {
    .logo {
        width: 60px;
    }
}
