body {
  background: rgb(50, 53, 196);
  background: linear-gradient(180deg, rgba(50, 53, 196, 1) 0%, rgba(75, 78, 217, 1) 23%, rgba(93, 97, 236, 1) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.leaflet-container {
  width: 100%;
  height: 100%;

  .leaflet-control-zoom-in, .leaflet-control-zoom-out, .leaflet-control-fullscreen-button {
    background-color: #6A5ACD;
  }
}



.navbar {
  height: 5vh;

  @media (max-width: 550px) {
    padding: 0;
    margin: 0;
    height: 20vh;

    .container {
      .container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #5a5a5aea;
}

::-webkit-scrollbar-thumb {
  background: #222222;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
  cursor: pointer;
}
