.country-card-wrapper {
  background: #ffffff85;
  width: 200px;
  height: 255px;
  padding: 5px;
  border-radius: 15%;
  margin: 10px 20px;
  transition: 0.3s;
  color: black;
  text-decoration: none;

  &:hover {
    width: 220px;
    height: 275px;
    margin: 0 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    text-decoration: none;
    color: black;

    .country-img {
      width: 210px;
      height: 210px;
    }
  }

  .country-img {
    border-radius: 15%;
    width: 190px;
    height: 190px;
    transition: 0.3s;
  }

  .title-wrapper {
    padding-left: 10px;

    .title {
      font-size: 20px;
    }

    .subtitle {
      font-size: 17px;
    }
  }
}
